<% if current_user.admin? %>
    <% @tasks.each do |task| %>
        <div>
            <%= task.comment %>
        </div>
    <% end %>
    <%= link_to 'Export CSV', tasks_path( chosen_filter: @filter, format: :csv ) %>
<% else %>
    <div>you are not authorized to access this page  </div>
<% end %>
<%= link_to 'Filter', tasks_path( @filter ) %>

<%= form_with url: '/tasks', method: 'get', local: true do |f| %>

  <div class="field">
    <%= f.label :time_type %><br />
      <%= f.select :time_type, ["Meeting", "Study", "Exercise"], :include_blank => true %>
  </div>

  <div class="field">
    <%= f.collection_check_boxes :users_id, User.order(:id), :id, :email %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :ampm => true, :selected => DateTime.new(1970,1,1,0,0) %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15, :selected => DateTime.new(2100,1,1,0,0) %>
  </div>

  <div class="actions">
    <%= f.submit "Filter",name: 'filter' %>
  </div>
<% end %>