%table
  %tr
    %th
      Comment
    %th
      Time Type
    %th
      Start Time
    %th
      End Time
  - @tasks.each do |task|
    %tr
      %td
        = task.comment
      %td
        = task.time_type
      %td
        = task.start_time
      %td
        = task.end_time

= form_with url: '/tasks', method: 'get', local: true, class:'b-s-1-g m-10 p-10' do |f|
  .p-10
    = f.collection_check_boxes :users_id,  User.all.order(:id), :id, :email
  .grid-x
    .cell.small-5.m-10
      = f.label :time_type, class:'bigger_label'
      %br/
      = f.select :time_type, ["Meeting", "Study", "Exercise"], include_blank: true

  .grid-x
    .cell.small-5.m-10
      = f.label :start_time, class:'bigger_label'
      = f.datetime_select :start_time, 
        ampm: true, 
        selected: DateTime.new(Date.today.year - 5,1,1,0,0), 
        start_year: Date.today.year - 5, 
        end_year: Date.today.year + 5 
      
    .cell.small-5.m-10
      = f.label :end_time, class:'bigger_label'
      = f.datetime_select :end_time, 
        ampm: true,
        minute_step: 15,
        selected: Date.today.year + 5,
        start_year: Date.today.year - 5,
        end_year: Date.today.year + 5 
  .actions
    = f.submit "Filter", name: 'filter', class: 'button m-10'

= link_to 'Add a task', new_task_path, class: 'button secondary '
