<%= form_with model: @task do |f| %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :time_type %><br />
    <%= f.select :time_type, ["Day", "Week", "Month"] %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15 %>
  </div>

  <div class="actions">
    <%= f.submit "Add Task" %>
  </div>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'All tasks', tasks_path %>
<% end %>