= form_with model: @task, class:'b-s-1-g m-10 p-10' do |f|
  .m-10
    = f.label :comment, class: 'bigger_label'
    %br/
    = f.text_field :comment, autofocus: true, required: true
  .grid-x
    .cell.small-5.m-10
      = f.label :time_type, class: 'bigger_label'
      = f.select :time_type, ["Meeting", "Study", "Exercise"]
  .grid-x
    .cell.small-5.m-10
      = f.label :start_time, class: 'bigger_label'
      = f.datetime_select :start_time,
        ampm: true, 
        minute_step: 15,
        selected: DateTime.now, 
        start_year: Date.today.year - 5, 
        end_year: Date.today.year + 5 
    .cell.small-5.m-10
      = f.label :end_time, class: 'bigger_label'
      = f.datetime_select :end_time,
        ampm: true,
        minute_step: 15,
        selected: DateTime.now,
        start_year: Date.today.year - 5,
        end_year: Date.today.year + 5 
  .actions
    = f.submit "Add Task", class: 'button m-10'
- if current_user.admin?
  = link_to 'All tasks', tasks_path, class:'button secondary'